.breadcrumbs
  width (955/16)em
  margin 1em auto
  height (20/16)em
  div
    float left
    a
      padding (9/13)em
      font-family 'Conv_Pragmatica_Cyrillic',Sans-Serif
      font-size (13/16)em
      color #333333
  div:last-child
    span
      @extend .breadcrumbs div a
      color #aaaaaa


